{% extends "main.html" %}

{% block content %}
  <div class="vb-404">
    <p class="vb-404__codigo">SQUAWK 7600 · LOST COMMS</p>
    <h1>Perdemos o contato com esta página</h1>
    <p>
      A página ou o link que você procurava está indisponível ou foi alterado.
      Use a busca na barra superior para encontrar o que deseja.
    </p>
    <a href="{{ nav.homepage.url | url }}" class="md-button md-button--primary">Voltar ao início</a>
    <label for="__search" class="md-button" role="button" tabindex="0">Buscar no portal</label>
  </div>
{% endblock %}
