{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-content">
                <h1> Hello! </h1>
                    <p>Welcome to Vatbrz Knowledge Base. You'll find here instructions and padronizations for aerodromes, terminals and centres, as well as any other information relevant to air traffic control.</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
                    Let's go!
                </a>
                <a href="http://www.vatsim.com.br" title="VATBRZ Website" class="md-button">
                    Go back to Vatbrz website
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Page links -->

<div class="lowerSection">
    <div class="md-grid md-typeset">
        <div class="feature">
					<h2>Recent Changes</h2>

					<div class="cards">
                        <div class="card">
                            <a href="">
                                <h3>Update on the EuroScope Installation Process</h3>

                                <p>
                                    The EuroScope installation procedure has been updated.
                                </p>
                            </a>
                        </div>

                        <div class="card">
                            <a href="">
                                <h3>New Sectorizations</h3>

                                <p>
                                    Details of the new sectorizations of Brazil's FIR have been published, with specific instructions regarding their activation, operation, and coordination.
                                </p>
                            </a>
                        </div>
                        
                        <div class="card">
                            <a href="">
                                <h3>Aerodrome Operations</h3>

                                <p>
                                    Standardized and specific procedures for each aerodrome have been published, aiming to gather various information spread across different regulations.
                                </p>
                            </a>
						</div>
					</div>

				</div>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}